@import "@/styles/variables";

.root {
  max-width: 800px;
  min-height: 680px;
  position: relative;
  height: calc(100vh - 60px);
  margin: 0 auto;

  @include mq(sp) {
    height: 100%;
    padding-bottom: 120px;
  }
}

.contents {
  border-top: 1px solid $black3;
  padding-top: 40px;

  @include mq(tablet) {
    padding-top: 30px;
  }

  h2 {
    @include text3;
    margin-bottom: 10px;

    @include mq(tablet) {
      margin-bottom: 8px;
    }
  }

  p {
    color: $white2;
    @include text7;
  }

  span {
    @include text9;
    margin-right: 10px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 36px;

    @include mq(sp) {
      grid-template-columns: 1fr;
    }
  }

  .skills {
    margin-top: 50px;

    &_list {
      flex-wrap: wrap;
      padding: 4px 0;
      display: flex;
      gap: 14px;

      a {
        border-radius: 50%;
        background: $black2;
        position: relative;
        display: inline-block;
        transition: all 0.2s $easeOutQuad;
        height: 70px;
        width: 70px;

        // ホバー時のアニメーション
        &:hover {
          transition: all 0.2s $easeOutQuad;
          background: $black3;
          transform: scale(1.05);
        }

        .image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

